.zita-block-slide-wrapper {
  margin: 0 auto 30px;
  opacity: 0;
  .zita-slider-container {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .zita-slider-bullet-next-prev {
    position: absolute;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    span {
      color: white;
      padding: 12px;
      background: #ff500d;
      display: flex;
      align-items: center;
    }
    &.next {
      right: 0;
    }
    &.prev {
      left: 0;
    }
  }
  ul {
    &.zita-slider-ul-slides,
    &.zita-slider-bullet-trigger {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    &.zita-slider-bullet-trigger {
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
      bottom: 18px;
      z-index: 100;
      &.trigger_out {
        position: unset;
      }
      li {
        display: block;
        margin: 10px;
        cursor: pointer;
        span {
          width: 22px;
          height: 22px;
          display: block;
          background-color: #f39a3e;
          border-radius: 50%;
        }
        &.selected_ {
          span {
            background-color: red;
          }
        }
      }
    }
    &.zita-slider-ul-slides.fadeEffect {
      min-height: 360px;
      position: relative;
      li {
        min-height: 360px;
        background-color: white;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.7s opacity linear;
        &.selected_ {
          opacity: 1;
        }
      }
    }
    &.zita-slider-ul-slides.slideEffect {
      display: flex;
      li {
        min-height: 360px;
        flex: 1;
        margin: 0 !important;
      }
    }
  }
}

.zita-slider-wrapper {
  position: relative;
  height: 100%;
}
.zita-slider-content-wrapper {
  height: 100%;
  position: relative;
  .zita-slider-image-container {
    position: absolute;
    background-color: green;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .zita-slider-text {
    position: relative;
    background: #717167c7;
    height: 100%;
    display: flex;
    align-items: center;
    &.left {
      justify-content: left;
    }
    &.center {
      justify-content: center;
      div {
        text-align: center;
      }
    }
    &.right {
      justify-content: flex-end;
      div {
        text-align: right;
      }
    }
    > div {
      padding: 20px;
      margin: 0;
      h1,
      h2 {
        margin: inherit;
      }
      .button-container {
        margin: inherit;
        display: flex;
        align-items: center;
        a {
          margin-right: 10px;
          display: block;
          background: #fd9a34;
          padding: 5px 10px;
          text-decoration: none;
          color: white;
          letter-spacing: 1px;
        }
      }
    }
  }
}
