.thk-progress-bar-wrapper {
  .zita-linear-progress-bar {
    .txt-section {
      display: flex;
      align-items: center;
      p {
        margin: 0 !important;
        width: 80%;
      }
      span {
        text-align: right;
        width: 20%;
      }
    }
  }
  .line_ {
    width: 100%;
    background: red;
    height: 29px;
    border-radius: 73px;
    .line-inner_ {
      .percent_ {
        padding: 0 10px;
      }
      height: 100%;
      border-radius: inherit;
      display: flex;
      align-items: center;
      width: 0;
      justify-content: flex-end;
      overflow: hidden;
    }
  }
}
.wp-block-zita-blocks-progress-block {
  margin: 28px 0;
}
