/* pricing table section */
.pricing-table-top {
  background-color: #22bbf6;
  /* color: white; */
  padding: 16px;
  /* border-radius: 12px 12px 0 0; */
}
.wp-block-zita-blocks-pricing-table-section .pricing-table-wrapper {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  p,
  h3 {
    margin: 0;
    line-height: 1;
    letter-spacing: 1px;
  }
  .pricing-table-top p {
    font-size: 18px;
    margin: 10px 0 0 0;
    color: white;
  }
  .pricing-table-top h3 {
    font-size: 23px;
    color: white;
  }

  .pricing-table-middle {
    text-align: left;
    padding: 15px;
    & > div {
      font-size: 19px;
    }
    & > div > p {
      margin: 10px 0;
      font-size: inherit;
      font-family: inherit;
    }
  }
  .price_ {
    font-size: 19px;
    display: flex;
    margin: 12px auto;
    box-sizing: content-box;
    align-items: center;
    p {
      font-family: inherit;
      font-size: inherit;
      line-height: 1;
      color: inherit;
    }
    > p {
      padding: 6px;
    }
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      > p {
        margin: 0;
      }
      &.rasied {
        align-items: unset;
        > p {
          margin-left: 2px;
          &:first-child {
            margin: 0;
            font-size: 8px;
          }
        }
      }
    }
    &.inline_ {
      width: fit-content;
      > p {
        padding: 0;
      }
    }
    &.box_ {
      height: 100px;
      width: 100px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 50%;
      background-color: green;
    }
  }
  .link_button a {
    line-height: 1;
    display: block;
    margin: 10px auto;
    width: fit-content;
    padding: 8px 15px;
    background-color: #49bbf6;
    color: white;
    border-radius: 6px;
    text-decoration: none;
  }
  .bottom-text {
    font-size: 13px;
  }
  .pricing-table-bottom {
    padding: 20px 0;
  }
}
.wp-block-zita-blocks-pricing-table-section:not(.column-count-1) {
  display: flex;
  flex-wrap: wrap;
}
@for $i from 2 through 4 {
  .wp-block-zita-blocks-pricing-table-section.column-count-#{$i}
    .wp-block-zita-blocks-pricing-table-table {
    width: calc(100% / #{$i} - 10px * #{$i});
    margin: 10px;
  }
  .wp-block-zita-blocks-pricing-table-section.full-width.column-count-#{$i}
    .wp-block-zita-blocks-pricing-table-table {
    width: calc(100% / #{$i});
    margin: 0;
  }
}
/* full width */
/* for align left and right  */
.wp-block-zita-blocks-block-column-parent.alignleft,
.wp-block-zita-blocks-pricing-table-section.alignleft,
.wp-block-zita-blocks-block-column-parent.alignright,
.wp-block-zita-blocks-pricing-table-section.alignright {
  position: unset !important;
  margin: unset !important;
  min-width: 700px;
}
@media only screen and (max-width: 768px) {
  @for $i from 2 through 4 {
    .wp-block-zita-blocks-pricing-table-section.column-count-#{$i}
      .wp-block-zita-blocks-pricing-table-table {
      width: calc(100% - 10px);
      margin: 10px;
    }
    .wp-block-zita-blocks-pricing-table-section.full-width.column-count-#{$i}
      .wp-block-zita-blocks-pricing-table-table {
      width: 100%;
      margin: 0;
    }
  }
}
